@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgba(255, 144, 14, 0.10);;
}
/* shared styles */
.display-flex{
    display: flex;
    align-items: center;
}
.head-title{
    color:  #131313;
}
.sub-title{
    color: #727272;
}
/* navbar styles */
nav h3{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.navbar{
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
}
.nav-items{
    list-style: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
}
.head-section{
    margin: 0 100px;
}
.brand-new-container{
    width: 855px;
    margin: 0 auto;
    margin-top: 100px;
}
.brand-new-container h1{
    font-size: 54px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}
.brand-new-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    text-align: center;
    margin-bottom: 15px;
}
.btn-center{
    text-align: center;
}
.btn{
    color: #FFF;
    text-align: center;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    background: #FF900E;
    margin-bottom: 30px;
}
.banner-image img{
    width: 100%;
}
/* features-section start here */
.features-section{
    margin: 0 130px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.features-team-container{
    display: flex;
    gap: 50px;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.teams-img img{
   width: 250px;
}
.span-color{
    color: #FF900E;
}
.features-content h1{
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}
.features-content p{
   text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
    padding-right: 5px;
}
/* Features you will love & enjoy */
.features-container{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
}
.architect-size{
    width: 610px;
    position: relative;
}
.border-absolute{
    position: absolute;
    top: 93%;
    left: -35px;
}
.architect-size img{
    width: 100%;
}

.features-will-enjoy{
    width: 586px;
}
.features-will-enjoy h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 10px;
}
.border-column{
    border-left: 3px solid #FF900E;;
}
.features-will-enjoy p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 15px;
}
.box-shadow{
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 15px;
}
.btn-10{
    color: white;
    font-size: 32px;
    font-weight: 700;
    padding: 30px 40px;
    border-radius: 5px;
    background: #FF900E;
    border: none;
    line-height: 25px;
    margin-bottom: 40px;
}
.btn-span{
    font-size: 14px;
    font-weight: 400;
}
/* Some Facts start here */
.some-facts-content{
   width: 47%;
   margin-bottom: 40px;
}
.some-facts-content h3{
    font-size: 35px;
    font-weight: 700;
}
.some-facts-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 15px;
}
.some-facts-icons{
    width: 80%;
    border-radius: 5px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px 0px;
    margin: 0 auto;
}
.some-facts-icons h3{
    font-size: 32px;
    font-weight: 600;
    color: #424242;
}
.some-facts-icons p{
    font-size: 18px;
    font-weight: 600;
}
.grid-layout-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* our-sponspors-content  start here*/
  .our-sponspors-content{
    width: 48%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .our-sponspors-content h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }
  .our-sponspors-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 15px;
    text-align: center;
  }
  /* our-grid-icons */
  .our-maring-center{
     margin-left: 60px;
     margin-bottom: 60px;
  }
  .our-grid-icons{
    margin-top: 40px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     align-items: center;
  }
  .our-grid-icons div{
    width: 50%;
  }
  .our-grid-icons img{
    width: 100%;
  }
  /* footer section start */
  .footer{
    margin: 0 100px;
    border-radius: 5px;
    background: #FFF4E7;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer p{
    color: #424242;
    font-size: 16px;
    font-weight: 400;
  }
/* responsive media screen */
@media screen and (max-width: 576px) {
    nav h3, .brand-new-container h1{
        font-size: 30px;
    }
    .display-flex, .features-team-container, .features-container{
        flex-direction: column;
    }
    .teams-img, .grid-layout-icons, .our-grid-icons{
        grid-template-columns: 1fr;
    }
    .nav-items{
        margin: 10px 0px;
    }
    .features-content{
        width: 100%;
        text-align: center;
    }
    .grid-layout-icons, .our-grid-icons{
        gap: 15px;
    }
    .teams-img img{
        width: 318px;
    }
    .our-grid-icons div{
        text-align: center;
    }
    .our-grid-icons img{
        width: 150px;
    }
    .brand-new-container, 
    .architect-size, 
    .features-will-enjoy, 
    .some-facts-content, 
    .some-facts-icons, 
    .our-sponspors-content, 
    .our-grid-icons div
    {
        width: 100%;
    }
    .brand-new-container{
        margin-top: 50px;
    }
    .features-will-enjoy{
        margin-top:  10px;
    }
     .features-container{
        gap: 0px;
     }
     .our-maring-center{
        margin: 30px;
     }
    .features-section, .footer{
        margin: 0;
        margin-bottom: 40px;
    }
    .head-section, .footer{
        margin: 0px;
    }
    .footer{
        text-align: center;
        height: 70px;
        line-height: 24px;
    }
    .border-absolute{
        position: absolute;
        bottom: 0;
        left: 30%;
    }
    .our-maring-center{
        margin-left: 0;
    }
    .btn-10{
        padding: 10px 10px;
    }
}